{% extends '_base.html' %}
{% load static %}
{% load socialaccount %}

{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
    <h2>Sign UP</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Sign up</button>
    </form>
    <p>Or sign up using</p>
    <p>
        <button class="google-btn"  type="submit">
            <a class="google-btn-link" href="{% provider_login_url 'google' %}">
                <img src="{% static 'images/google.png' %}" height="25px" width="auto" alt="Google logo">
                Sign in with Google
              </a>
        </button>
    </p>
{% endblock content %}