
h1 {
    color: cadetblue;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideFadeIn 1s ease-out forwards;
}

@keyframes slideFadeIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }


.bookcover {
    height: 300px;
    width: auto;
}